
{% extends 'systemBase.html' %}
{% load staticfiles %}
{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light">
                                添加账户
                            </div>
                            <div class="card-header bg-light">
                                    {{ message }}
                            </div>
                            <form action="" method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="normal-input" class="form-control-label">账户号</label>
                                            <input name="cardNum" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="read-only" class="form-control-label">账户密码</label>
                                            <input name="payPassword" type="password" class="form-control">
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Static</label>
                                            <p class="form-control-plaintext">email@example.com</p>
                                        </div>
                                    </div> -->
                                </div>
                                    <div class="row mt-4">
                                        <div class="col-8">

                                        </div>
                                        <div class="col-2">
                                            <button type="reset" class="btn btn-primary px-5">重置</button>
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-primary px-5">添加账户</button>
                                        </div>
                                    </div>


                            </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %} 
      