
{% extends 'systemBase.html' %}
{% load staticfiles %}
{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light">
                                冻结账户
                            </div>
                            <div class="card-header bg-light">
                                    {{ message }}
                            </div>
                            <form action="" method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="single-select">选择你要冻结的账户</label>
                                                    <select name="cardNum" class="form-control">
                                                        {% for account in accounts %}
                                                            <option>{{ account.cardNum }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                    <!-- <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Static</label>
                                            <p class="form-control-plaintext">email@example.com</p>
                                        </div>
                                    </div> -->
                                        </div>
                                    <div class="row mt-4">
                                        <div class="col-8">

                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-primary px-5">确认冻结</button>
                                        </div>
                                    </div>


                            </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %} 
      