<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/base.css">
</head>
<body>

<!--导航栏-->

<!--内容部分每个界面不同的地方-->
<div class="left con">
    <!--中间服务内容-->
    <div class="conServer left">
        <div class="conServerCon">
            <ul class="conSerUl"><li class="serActive"><a href="javascript:void (0)" class="serActiveA">交易服务</a> </li><li><a href="javascript:void (0)">账户服务</a></li></ul>
            <div class="conSerBox">
                <div style="display: block">
                    <ul class="conSerBoxUl" id="ul1">
                    <li><a href="#"><p><span><img src="img/icon01.png"> </span></p><p>存款业务</p></a> </li>
                    <li><a href="#"><p><span><img src="img/icon01.png"> </span></p><p>取款业务</p></a> </li>
                    <li><a href="#"><p><span><img src="img/icon01.png"> </span></p><p>流水查询</p></a> </li>
                    <li><a href="#"><p><span class="bgFed"><img src="img/icon01.png"> </span></p><p>公积金查询</p></a> </li>



                </ul>
                </div>
                <div><ul class="conSerBoxUl" id="ul2">
                    <li><a href="#"><p><span><img src="img/icon01.png"> </span></p><p>修改密码</p></a> </li>
                    <li><a href="#"><p><span><img src="img/icon01.png"> </span></p><p>账户挂失</p></a> </li>
                    <li><a href="#"><p><span><img src="img/icon01.png"> </span></p><p>公积金查询</p></a> </li>

                </ul>
                </div>

            </div>
        </div>

<!--底部-->
<!-- <footer class="left footer">
<div class="left footerLogo"><img src="img/red.png"> </div>
    <div class="left footText"><p><span>主管单位：xxxxx银行 </span><span>承办单位:xxxx银行交易服务中心</span></p>
        <p><span>技术支持：中国xxxx公司 </span><span>联系我们：028-xxxxxx</span></p>
        <p><span>网站标识码：xxxxxxxx </span></p>
    </div>
</footer> -->
<script src="js/jquery/jquery-2.2.0.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>